
/*---------------------
 RESET
 ---------------------*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
   font-family: 'Roboto', sans-serif;
}

/*---------------------
 CONTAINERS 
 ---------------------*/

.container-full{
    width: 100vw;
    margin: auto;
 }

/*---------------------
 HEADER
 ---------------------*/

 header{
   background-color: bisque;
 }

 .header-logo{
   text-align: center;
   width: 100%;
 }

.header-link{
   text-align: center;
   text-decoration: none;
   color: black;
   font-size: 1.25rem;
   padding: 1.25rem .3125rem;
}

.col-12{
   display: flex;
   justify-content: space-between;
}

.header-link:hover{
   color: darkgray;
}

